.navbar  {
  background: var(--green-color);
  padding-top: 10px;
}

.navbar .active {
  background: var(--bg-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
}

/* TODO IMPORTANT: Change here, Make the classes more scoped first.  */

.navbar .active.navBarItem::before,
.navbar .active.navBarItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
}

.navbar .active.navBarItem::before {
  left: -20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px #1e2e5c;
}

.navbar .active.navBarItem::after {
  right: -20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 5px #1e2e5c;
}


.navBarItem {
  height: 50px;
}